.ant-modal-content {
  height: 80vh;
}

p img {
  box-shadow:
    0 2px 10px rgba(0, 0, 0, 0.2),
    0 4px 20px rgba(0, 0, 0, 0.2),
    0 8px 40px rgba(0, 0, 0, 0.2);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
